<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>LOVEfinder | Find Your True Love</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://kit.fontawesome.com/cff99a00c0.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<div class="upper-flex">

			<form action="#" id="delete-one-form" sec:authorize="hasRole('ADMIN')"
				onSubmit="return confirm('Are you sure you wish to delete?');">
				<input type="hidden" name="startid" value="" class="delete-one" />

				<input type="submit" value="Delete This User" class="btn-light alert-confirm">
			</form>

			<form action="/deleteall" sec:authorize="hasRole('ADMIN')"
				onSubmit="return confirm('Are you sure you wish to delete?');">
				<button class="btn-light alert-confirm" type="submit"> Delete All Users
				</button>
			</form>

			<form action="/addpersonform" sec:authorize="hasRole('ADMIN')">
				<button class="btn-light" type="submit"> Add User </button>
			</form>

			<a href="login" class="btn-light" sec:authorize="!isAuthenticated()">Log In</a>

			<!-- <form> -->
			<button class="btn-light show-liked" sec:authorize="isAuthenticated()"> Show Liked </button>
			<!-- </form> -->

		</div>
	</nav>

	<div class="container">
		<div class="flex-rewind">
			<p id="previous-btn"><i class="fas fa-chevron-left fa-5x"></i></p>

			<div class="inside">
				<h1 class="header"><i class="fas fa-heartbeat"></i> LOVEfinder <i class="fas fa-heartbeat"></i></h1>
				<div class="img-relative">
					<img id="img-main" src="https://source.unsplash.com/400x400/?random" alt="">
					<div>
						<i class="far fa-heart heart-icon fa-2x"></i>
						<!-- <i class="fas fa-heart heart-icon fa-2x"></i> -->
					</div>
				</div>


				<p id="person">Use Arrows to Navigate</p>
			</div>
			<p id="next-btn"><i class="fas fa-chevron-right fa-5x"></i></p>
			<!-- <p id="next-btn">Next</p> -->
		</div>
		<footer id="bottom">
			<i class="fab fa-facebook-f fa-2x icon-bottom"></i>
			<i class="fab fa-twitter fa-2x icon-bottom"></i>
			<i class="fab fa-instagram fa-2x icon-bottom"></i>
			<i class="fab fa-pinterest fa-2x icon-bottom"></i>

		</footer>
		i value: <span th:text="${startid}"></span>

		<h2>Welcome</h2>
		<p>Spring Security Thymeleaf tutorial</p>
		<div sec:authorize="hasRole('USER')">Text visible to user.</div>
		<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
		<div sec:authorize="isAuthenticated()">
			Text visible only to authenticated users.
		</div>
		Authenticated username:
		<div sec:authentication="name"></div>
		Authenticated user roles:
		<p sec:authorize="hasAuthority('ADMIN')">AAA</p>

		<div sec:authorize="hasRole('ADMIN')">
			This content is only shown to administrators.
		</div>

		<div sec:authorize="hasRole('USER')">
			This content is only shown to users.
		</div>

		<div>
			User: <span sec:authentication="name">NOT FOUND</span>
			<!--  Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>-->
		</div>

		<div sec:authorize="hasRole('ROLE_ADMIN')">IS ADMIN</div>
		<!-- <input class="startid" type="hidden" th:name="startid" th:value="${staritd}" /> -->
		<span id="myvar" th:text="${startid}"></span>
	</div>

	<script type="text/javascript" th:inline="javascript">
		let person = document.getElementById('person');
		let image = document.getElementById('img-main');
		let heart = document.querySelector('.fa-heart');
		let peopleArr = [];
		let likedIds = [];
		if (localStorage.getItem('likedIds') === null) {
			likedIds = [];
		} else if (Array.isArray(localStorage.getItem('likedIds'))) {
			console.log("IN ELSE IFFFF")
			likedIds = JSON.parse(localStorage.getItem('likedIds'));
		} else {
			console.log(localStorage.getItem('likedIds'));
			likedIds = JSON.parse(localStorage.getItem('likedIds'));
		}

		let showLikedOnly = false;
		let likedIterator = 0;
		let i = parseInt("[[${startid}]]") - 1;
		console.log('i1: ' + i);
		console.log("startid: " + "[[${startid}]]");

		document.getElementById('next-btn').addEventListener('click', nextPerson);
		document.onkeydown = checkKey;

		function checkKey(e) {

			e = e || window.event;
			if (e.keyCode == '37') {
				previousPerson();
			} else if (e.keyCode == '39') {
				// right arrow
				nextPerson();
			}

		}
		document.getElementById('next-btn').addEventListener('click', checkHeart);
		let showLiked = document.querySelector(".show-liked")
		showLiked.addEventListener('click', () => {
			if (!showLikedOnly) {
				showLikedOnly = true;
				showLiked.textContent = 'Show All';
			} else {
				showLikedOnly = false;
				showLiked.textContent = 'Show Liked';
			}
			nextPerson();
		})

		document.getElementById('previous-btn').addEventListener('click', previousPerson);
		document.getElementById('previous-btn').addEventListener('click', checkHeart);
		formDeleteOne = document.getElementById("delete-one-form");
		console.log("FORM");
		console.log(formDeleteOne.action);

		let deleteOneInput = document.querySelector('.delete-one');
		formDeleteOne.addEventListener('click', () => {
			document.getElementById("myvar").setAttribute('value', 5);
			// document.querySelector('.startid').setAttribute('th:value', i);
			formDeleteOne.action = `/deleteperson/${peopleArr[i].id}`;
			deleteOneInput.value = i;
			console.log(deleteOneInput.value);
			console.log("ACTION");
			console.log(formDeleteOne.action);
			// deleteOne.href = `/deleteperson/${peopleArr[i].id}`;
			console.log("In deleteOne");
		});
		heart.addEventListener('click', changeHeart);
		console.log('heart');
		console.log(heart);

		class Person {
			constructor(firstName, lastName, pictureUrl, lookingFor, id = 0) {
				this.firstName = firstName;
				this.lastName = lastName;
				this.pictureUrl = pictureUrl;
				this.lookingFor = lookingFor;
				this.id = id;
			}
		}

		console.log('[[${people}]]')

		window.addEventListener('load', (event) => {
			console.log('page is fully loaded');
			console.log(peopleArr);
			i = '[[${startid}]]';
			console.log("i: " + i);
		});

		/*[# th:each="n : ${people}"]*/
		peopleArr.push(new Person("[(${n.firstName})]", "[(${n.lastName})]", "[(${n.pictureUrl})]", "[(${n.lookingFor})]",
			"[(${n.id})]"));
		/*[/]*/

		function previousPerson() {
			displayPerson(false);
			console.log("previous person")
		}

		function nextPerson() {
			// document.getElementById("myvar").value = 5;
			document.getElementById("myvar").setAttribute('value', 5);
			// document.querySelector('.startid').setAttribute('th:value', i);
			console.log("next person");
			displayPerson(true);
		}

		function displayPerson(next) {

			if (!showLikedOnly) {
				heart.style.display = "inherit"
				console.log("IN DISPLAY:::::::::::::::: " + next)
				if (next === false) {
					i--;
				} else {
					i++;
				}
				console.log(i);
				console.log("DUPA");
				console.log(image.src);

				if (i < 0) {
					heart.style.display = "none";
					i = -1;
					console.log(i);
					person.innerHTML = "You have reached the beginning";
					document.getElementById('img-main').src = 'https://source.unsplash.com/400x400/?random';

				} else if (i >= peopleArr.length) {
					heart.style.display = "none";
					document.getElementById('img-main').src = 'https://source.unsplash.com/400x400/?random';
					person.innerHTML = "You have reached the end";
					i = peopleArr.length;
					console.log("END");
				} else {
					document.getElementById('img-main').src = peopleArr[i].pictureUrl;
					console.log("ELSE");
					person.innerHTML = `
				First Name: ${peopleArr[i].firstName} <br> 
				Last Name: ${peopleArr[i].lastName} <br>
				Looking for: ${peopleArr[i].lookingFor} <br>
				ID: ${peopleArr[i].id} <br>
				`;
				}
				return i;
			} else {
				console.log("IN LIKED PEOPLE, iterator: " + likedIds);

				let likedPerson = null;

				console.log("peopleArr.length: " + peopleArr.length)
				// for (let i = 0; i < )

				for (let person of peopleArr) {
					console.log("IN LOOP");
					if (person.id === likedIds[likedIterator]) {
						likedPerson = person;
						break;
					}
				}

				heart.style.display = "none"
				console.log("IN DISPLAY:::::::::::::::: " + next)
				if (next === false) {
					likedIterator--;
				} else {
					likedIterator++;
				}

				if (likedIterator < 0) {
					heart.style.display = "none";
					likedIterator = -1;
					console.log(likedIterator);
					person.innerHTML = "You have reached the beginning";
					document.getElementById('img-main').src = 'https://source.unsplash.com/400x400/?random';

				} else if (likedIterator > likedIds.length) {
					heart.style.display = "none";
					document.getElementById('img-main').src = 'https://source.unsplash.com/400x400/?random';
					person.innerHTML = "You have reached the end";
					likedIterator = likedIds.length;
					console.log("END");
				} else {
					if (likedPerson === null) {
						console.log("UNDEFINED");
						if (next) nextPerson();
						else previousPerson();
					} else {

						document.getElementById('img-main').src = likedPerson.pictureUrl;
						console.log("ELSE");
						person.innerHTML = `
							First Name: ${likedPerson.firstName} <br> 
							Last Name: ${likedPerson.lastName} <br>
							Looking for: ${likedPerson.lookingFor} <br>
							ID: ${likedPerson.id} <br>
							`;
					}
				}

			}

		}

		function changeHeart(e) {
			if (i >= 0) {
				console.log(i);
				let id = peopleArr[i].id;
				console.log(id);
				if (localStorage.getItem('likedIds') === null) {
					likedIds = [];
				} else if (Array.isArray(localStorage.getItem('likedIds'))) {
					console.log("IN ELSE IFFFF")
					likedIds = JSON.parse(localStorage.getItem('likedIds'));
				} else {
					console.log(localStorage.getItem('likedIds'));
					likedIds = JSON.parse(localStorage.getItem('likedIds'));
				}
				console.log(likedIds);

				if (heart.classList.contains('far')) { //far - empty
					heart.classList.remove('far');
					heart.classList.add('fas');
					likedIds.push(id);
				} else {
					heart.classList.remove('fas');
					heart.classList.add('far');
					for (let j = likedIds.length - 1; j >= 0; j--) {
						if (likedIds[j] === id) {
							console.log(likedIds);
							likedIds.splice(j, 1);
						}
					}
				}
				localStorage.setItem('likedIds', JSON.stringify(likedIds));
			}
		}

		function checkHeart() {
			if (i >= 0 && i < peopleArr.length) {
				if (localStorage.getItem('likedIds') !== null) {
					if (localStorage.getItem('likedIds').includes(peopleArr[i].id)) {
						if (heart.classList.contains('far')) { //far - empty
							heart.classList.remove('far');
							heart.classList.add('fas');
						}
					} else {
						if (heart.classList.contains('fas')) { //far - empty
							heart.classList.remove('fas');
							heart.classList.add('far');
						}
					}
				}
			}
		}


		console.log(peopleArr);
	</script>


</body>

</html>